{% extends 'base.html.twig' %}

{% block title %}Agence lorem ipsum{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam commodi deleniti dolor dolorem dolores dolorum eius hic inventore laudantium nobis nostrum, odio perferendis possimus quo ratione repellat. Inventore, repudiandae!</p>
    </div>
{% endblock %}